<%- include("./Partials/_admhead")  %>
    <div class="container mt-5">
        <H1>add CULTURE</H1>
        <form action="/admin/addCULTURE" method="post">
            <%- include("./Partials/_formTendances")  %>
        </form>
    </div>
    <%- include("./Partials/_admfoot")  %>