<%- include("./Partials/_admhead")  %>
    <div class="container mt-5">
        <H1>add POLITIQUE</H1>
        <form action="/admin/addPOLITIQUE" method="post" enctype="multipart/form-data">
            <%- include("./Partials/_formTendances")  %>
        </form>
    </div>
    <%- include("./Partials/_admfoot")  %>