<%- include("./Partials/_admhead")  %>
    <div class="container mt-5">
        <H1>add SANTE</H1>
        <form action="/admin/addSANTE" method="post" enctype="multipart/form-data">
            <%- include("./Partials/_formTendances")  %>
        </form>
    </div>
    <%- include("./Partials/_admfoot")  %>