<%- include("./includes/_header") %>
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">
          Le partenaire de choix pour lutter contre la désinformation
        </h1>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <hr />
            <form action="/url" method="post">
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-group-lg">
                    <input
                      type="text"
                      name="url"
                      class="form-control"
                      aria-label="Sizing example input"
                      placeholder="Https:// Entrez l'url pour vérifier les faits..."
                      aria-describedby="inputGroup-sizing-lg"
                    />
                    <a
                      class="btn"
                      href="/url"
                      style="
                        border-color: #012970;
                        background-color: #012970;
                        color: white;
                      "
                      id="button-addon2"
                      ><i class="bi bi-search"></i
                    ></a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img
          src="assets/img/home.png"
          style="width: 800px"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= Values Section ======= -->
  <section id="values" class="values">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>RESSOURCES</h2>
        <p>AMELIOREZ VOS CONNAISSANCES DANS L'UNIVERS CYBER CITOYEN</p>
      </header>

      <div class="row">
        <div class="col-lg-4">
          <a
            href="/ressources/jeux"
            class="
              btn-read-more
              d-inline-flex
              align-items-center
              justify-content-center
              align-self-center
            "
          >
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <img
                src="assets/img/values-1.png"
                style="height: 300px; width: 1247px"
                class="img-fluid"
                alt=""
              />
              <h3>Jeux</h3>
              <p>
                Le Jeu du <br />
                cyber citoyen
              </p>
            </div>
          </a>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <a
            href="/ressources/videos"
            class="
              btn-read-more
              d-inline-flex
              align-items-center
              justify-content-center
              align-self-center
            "
          >
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img
                src="assets/img/values-2.png"
                style="height: 300px; width: 1247px"
                class="img-fluid"
                alt=""
              />
              <h3>Vidéos</h3>
              <p>
                Booster votre <br />
                savoir en cliquant ici
              </p>
            </div>
          </a>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <a
            href="/ressources/documents"
            class="
              btn-read-more
              d-inline-flex
              align-items-center
              justify-content-center
              align-self-center
            "
          >
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img
                src="assets/img/values-3.png"
                style="height: 300px; width: 1247px"
                class="img-fluid"
                alt=""
              />
              <h3>Documents</h3>
              <p>
                Trouvez l'esentiel des Ressources sur la protection des données
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Values Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="72"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Formations</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-journal-richtext" style="color: #ee6c20"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="15"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Formateurs</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-headset" style="color: #15be56"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="7"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Partenaires</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-people" style="color: #bb0852"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="215"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Vérification des faits</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Counts Section -->

  <!-- ======= services Section ======= -->
  <section id="service" class="features">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>YKOLA</h2>
      </header>

      <!-- Feature Icons -->
      <div class="row feature-icons" data-aos="fade-up">
        <h3>
          CONSULTEZ LA PROGRESSION DES PROMESSES DONNÉES PAR LES ACTEURS DES
          SERVICES PUBLICS
        </h3>

        <div class="row">
          <div
            class="col-xl-4 text-center"
            data-aos="fade-right"
            data-aos-delay="100"
          >
            <img src="assets/img/features-3.png" class="img-fluid p-4" alt="" />
          </div>

          <div class="col-xl-8 d-flex content">
            <div class="row align-self-center gy-4">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="ri-line-chart-line"></i>
                <div>
                  <h4>Nombre des promesses faites</h4>
                </div>
              </div>

              <div
                class="col-md-6 icon-box"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <i class="ri-stack-line"></i>
                <div>
                  <h4>Taux d'exécution</h4>
                </div>
              </div>

              <div
                class="col-md-6 icon-box"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <i class="ri-brush-4-line"></i>
                <div>
                  <h4>En cours d'exécution</h4>
                </div>
              </div>

              <div
                class="col-md-6 icon-box"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <i class="ri-magic-line"></i>
                <div>
                  <h4>Non réalisées</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Feature Icons -->
    </div>
  </section>
  <!-- End services Section -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>PACKAGE DE SOUSCRIPTION</h2>
        <p>NOS FORMATIONS</p>
      </header>

      <div class="row gy-4" data-aos="fade-left">
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <h3 style="color: #07d5c0">Basic</h3>
            <img src="assets/img/pricing-free.png" class="img-fluid" alt="" />
            <ul>
              <li>Sécurite de information</li>
              <li>La sécurisation des mots de passe</li>
              <li>la protection des données personnelles</li>
              <li>La protection des cartes de crédit/débit</li>
              <li>La confidentialité sur internet</li>
            </ul>
            <a href="/packSouscription" class="btn-buy">Details</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <span class="featured">Featured</span>
            <h3 style="color: #65c600">Standard</h3>
            <img
              src="assets/img/pricing-starter.png"
              class="img-fluid"
              alt=""
            />
            <ul>
              <li><b>+ Basic</b></li>
              <li>Usurpation d’identité d’un exécutif</li>
              <li>Hameçonnage et variantes</li>
              <li>Mode de détection des cyber attaques</li>
              <li>Harponnage et variantes</li>
            </ul>
            <a href="/packSouscription" class="btn-buy">Details</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="box">
            <h3 style="color: #ff901c">Advanced</h3>
            <img
              src="assets/img/pricing-business.png"
              class="img-fluid"
              alt=""
            />
            <ul>
              <li><b>+ Standard</b></li>
              <li>Sécurité du réseau courant et wifi</li>
              <li>
                Protection des informations <br />
                sensibles de l’entreprise
              </li>
              <li>Prévention des attaques à la sécurité</li>
              <li>Développement sécurisé</li>
            </ul>
            <a href="/packSouscription" class="btn-buy">Details</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="box">
            <h3 style="color: #ff0071">Pro</h3>
            <img
              src="assets/img/pricing-ultimate.png"
              class="img-fluid"
              alt=""
            />
            <ul>
              <li><b>+ Advanced</b></li>
              <li>
                Tout savoir sur le RGPD – règlement général sur la protection
                des données
              </li>
              <li>Campagne de sensibilisation à la protection des données</li>
              <li>Mur de feu des cybers citoyens</li>
            </ul>
            <a href="/packSouscription" class="btn-buy">Details</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Pricing Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <p>Derniers Résultats de vérification des faits</p>
      </header>

      <div
        class="testimonials-slider swiper-container"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Proin iaculis purus consequat sem cure digni ssim donec
                porttitora entum suscipit rhoncus. Accusantium quam, ultricies
                eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              </p>
              <div class="profile mt-auto">
                <img
                  src="assets/img/testimonials/testimonials-1.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Export tempor illum tamen malis malis eram quae irure esse
                labore quem cillum quid cillum eram malis quorum velit fore eram
                velit sunt aliqua noster fugiat irure amet legam anim culpa.
              </p>
              <div class="profile mt-auto">
                <img
                  src="assets/img/testimonials/testimonials-2.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Enim nisi quem export duis labore cillum quae magna enim sint
                quorum nulla quem veniam duis minim tempor labore quem eram duis
                noster aute amet eram fore quis sint minim.
              </p>
              <div class="profile mt-auto">
                <img
                  src="assets/img/testimonials/testimonials-3.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa
                multos export minim fugiat minim velit minim dolor enim duis
                veniam ipsum anim magna sunt elit fore quem dolore labore illum
                veniam.
              </p>
              <div class="profile mt-auto">
                <img
                  src="assets/img/testimonials/testimonials-4.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
                ><i class="bi bi-star-fill"></i>
              </div>
              <p>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
                veniam tempor noster veniam enim culpa labore duis sunt culpa
                nulla illum cillum fugiat legam esse veniam culpa fore nisi
                cillum quid.
              </p>
              <div class="profile mt-auto">
                <img
                  src="assets/img/testimonials/testimonials-5.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row gx-0">
        <div
          class="col-lg-6 d-flex flex-column justify-content-center"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="content">
            <h3>QUI SOMMES - NOUS</h3>
            <h2>
              ykola est la plateforme qui forme et informe sur la protection des
              données privées.
            </h2>
            <p>
              Nous formons les internautes à devenir des cybers citoyens
              (internautes qui savent comment protéger leurs données privées et
              qui adoptent un comportement responsable face à ces derniers), en
              proposant une gamme variée de contenus.
            </p>
            <div class="text-center text-lg-start">
              <a
                href="/apropos"
                class="
                  btn-read-more
                  d-inline-flex
                  align-items-center
                  justify-content-center
                  align-self-center
                "
                style="border-color: #012970; background-color: #012970"
              >
                <span>Lire la suite</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div
          class="col-lg-6 d-flex align-items-center"
          data-aos="zoom-out"
          data-aos-delay="200"
        >
          <img
            src="assets/img/about.jpeg"
            style="height: 350px; width: 100%"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->
</main>
<!-- End #main -->
<%- include("./includes/_footer") %>
