<%- include("./Partials/_header")  %>
<div id="main">
    <br><br><br>
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="/">Accueil</a></li>
                <li><a href="/ressources/jeux">jeux</a></li>
            </ol>
            <h1 class="text-center">Jeux ykola</h1>
        </div>
    </section><!-- End Breadcrumbs --> 
    <div class="container">
        <br><br><br><br>
        <h1 class="text-danger text-center">la version beta, déjà a telecharger ici</h1>
        <div class="text-center"><a type="button"  href="/ressources/jeux/v1.beta/ccquiz2.apk" class="btn btn-primary btn-lg">Télécharger <i class="bi bi-file-earmark-arrow-down"></i></a></div>
        <br><br><br><br>
    </div>
</div>
<%- include("./Partials/_footer")  %> 