<%- include("./Partials/_header")  %>
<div id="main">
    <br><br><br>
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="/">Accueil</a></li>
                <li><a href="/tendances/sante">Sante</a></li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->  
    <div class="container mt-5">
        <div class="row">
            
        </div>
    </div>
</div>
<%- include("./Partials/_footer")  %> 