<%- include("../includes/_header") %>

<div class="container-fluid">
  <div class="row">
    <%- include("../includes/_nav") %>
    <main class="py-4 col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Categorie</li>
        </ol>
      </nav>
      <h1 class="mt-4 text-center h2">Creation Categorie</h1>
      <div class="container">
        <div class="card">
          <div class="card-body" style="padding: 150px">
            <form class="row g-3">
              <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Name</label>
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail4"
                  style="height: 50px"
                />
              </div>
              <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Description</label>
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail4"
                  style="height: 50px"
                />
              </div>

              <div class="col-12">
                <button type="submit" class="btn btn-outline-primary">
                  Enregistrer
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <footer class="pt-5 d-flex justify-content-between">
        <span
          >Copyright © 2019-2020
          <a href="https://themesberg.com">Themesberg</a></span
        >
        <ul class="m-0 nav">
          <li class="nav-item">
            <a class="nav-link text-secondary" aria-current="page" href="#"
              >Privacy Policy</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Terms and conditions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Contact</a>
          </li>
        </ul>
      </footer>
    </main>
  </div>
</div>

<%- include("../includes/_footer") %>
