<%- include("../includes/_header") %>

<div class="container-fluid">
  <div class="row">
    <%- include("../includes/_nav") %>
    <main class="py-4 col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Newslleter</li>
        </ol>
      </nav>
      <h1 class="mt-4 text-center h2">Tables des News</h1>
      <div class="container">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Order</th>
                    <th scope="col">Product</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Total</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">17371705</th>
                    <td>Volt Premium Bootstrap 5 Dashboard</td>
                    <td>johndoe@gmail.com</td>
                    <td>€61.11</td>
                    <td>Aug 31 2020</td>
                    <td>
                      <a href="#" class="btn btn-sm btn-primary">View</a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">17370540</th>
                    <td>Pixel Pro Premium Bootstrap UI Kit</td>
                    <td>jacob.monroe@company.com</td>
                    <td>$153.11</td>
                    <td>Aug 28 2020</td>
                    <td>
                      <a href="#" class="btn btn-sm btn-primary">View</a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">17371705</th>
                    <td>Volt Premium Bootstrap 5 Dashboard</td>
                    <td>johndoe@gmail.com</td>
                    <td>€61.11</td>
                    <td>Aug 31 2020</td>
                    <td>
                      <a href="#" class="btn btn-sm btn-primary">View</a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">17370540</th>
                    <td>Pixel Pro Premium Bootstrap UI Kit</td>
                    <td>jacob.monroe@company.com</td>
                    <td>$153.11</td>
                    <td>Aug 28 2020</td>
                    <td>
                      <a href="#" class="btn btn-sm btn-primary">View</a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">17371705</th>
                    <td>Volt Premium Bootstrap 5 Dashboard</td>
                    <td>johndoe@gmail.com</td>
                    <td>€61.11</td>
                    <td>Aug 31 2020</td>
                    <td>
                      <a href="#" class="btn btn-sm btn-primary">View</a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">17370540</th>
                    <td>Pixel Pro Premium Bootstrap UI Kit</td>
                    <td>jacob.monroe@company.com</td>
                    <td>$153.11</td>
                    <td>Aug 28 2020</td>
                    <td>
                      <a href="#" class="btn btn-sm btn-primary">View</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <a href="#" class="btn btn-block btn-light">View all</a>
          </div>
        </div>
      </div>

      <footer class="pt-5 d-flex justify-content-between">
        <span
          >Copyright © 2019-2020
          <a href="https://themesberg.com">Themesberg</a></span
        >
        <ul class="m-0 nav">
          <li class="nav-item">
            <a class="nav-link text-secondary" aria-current="page" href="#"
              >Privacy Policy</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Terms and conditions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Contact</a>
          </li>
        </ul>
      </footer>
    </main>
  </div>
</div>

<%- include("../includes/_footer") %>
