<%- include("../../includes/_header") %>
<main>
  <br /><br />
  <section class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="/" class="display-6">Accueil</a></li>
        <li><a href="/verification" class="display-6">Sport</a></li>
      </ol>
    </div>
  </section>
  <section>
    <h1 class="text-center display-3">sport</h1>
    <div class="container"></div>
  </section>
</main>
<%- include("../../includes/_footer") %>
