<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>ykola</title>
    <meta
      content="ykola, est une est une plateforme numérique de lutte contre la désinformation(fakenews) et de sensibilisation à la
    protection des données personnelles"
      name="description"
    />

    <meta
      content="ykola formation cyber citoyen proteges tes données en lignes"
      name="keywords"
    />

    <!-- Favicons -->
    <link rel="icon" href="data:," />
    <link href="/assets/img/ico.png" rel="icon" />
    <link href="/assets/img/ico.png" rel="apple-touch-icon" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link
      href="/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:600"
    />

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/circle.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: FlexStart - v1.0.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="100">
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
      <div
        class=" container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="/" class="logo d-flex align-items-center">
          <img
            src="/assets/img/logo.png"
            alt="logo ykola"
            style="width: 100px"
          />
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link active" href="/">Accueil</a></li>
            <li class="dropdown">
              <a href="#"
                ><span>Tendances</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li><a href="/tendances/santes">Sante</a></li>
                <li><a href="/tendances/politiques">Politique</a></li>
                <li><a href="/tendances/sports">Sport</a></li>
                <li><a href="/tendances/cultures">Culture</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/#values" class="nav-link active"
                >Ressources<i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li><a href="/ressources/jeux">Jeux</a></li>
                <li><a href="/ressources/videos">Videos</a></li>
                <li><a href="/ressources/documents">Documents</a></li>
              </ul>
            </li>
            <!-- <li><a href="/verification">Verification</a></li>-->
            <!-- <li><a class="nav-link scrollto" href="/">Forum</a></li> -->
            <li>
              <a
                class="getstarted scrollto"
                href="/verification"
                style="color: white; background-color: #012970; height: 60px"
                >Verification</a
              >
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->
  </body>
</html>
