<%- include("./Partials/_header") %>
<main id="main">
  <br /><br /><br /><br /><br />

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="/">Accueil</a></li>
        <li><a href="/apropos">A propos</a></li>
      </ol>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      <h3>ykola</h3>
      <div class="row">
        <div class="col-md-12">
          <p class="justify-content-start">
            ykola est une plateforme numérique de lutte contre la désinformation
            (fakenews) et de sensibilisation à la protection des données
            personnelles.
          </p>
          <p class="justify-content-start">
            Conscient des risques que courent les internautes congolais
            lorsqu’ils naviguent sur internet, Y’kola offre une formation sur la
            protection des données en ligne sous différents formats.
          </p>
          <p class="justify-content-start">
            Nous formons les internautes à devenir des cybers citoyens
            (internautes qui savent comment protéger leurs données privées et
            qui adoptent un comportement responsable face à ces derniers), en
            proposant une gamme variée de contenus.
          </p>
          <P class="justify-content-start"
            >Notre plateforme utilise une efficace méthodologie qui vous aidera
            à facilement comprendre et connaitre les techniques à adopter pour
            protéger vos données privées.</P
          >
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
<%- include("./Partials/_footer") %>
